body {
    margin: 0px; 
    padding: 0px;
}

*{
    font-family: 
        'Franklin Gothic Medium', 
        'Arial Narrow', Arial, 
        sans-serif;
}


h1 {
    color: white;
}

p {
    color: white;
}

a{
    text-decoration: none;
}

#header {
    border: 1px solid green;
    background-color: white;
    position: sticky;
    display: flex;
    top: 0px;
    padding:  5px 0px 5px 20px;
    box-shadow: 0px 0px 10px 0px darkblue;
    justify-content: start;
}

.header-link {
    border: 1px solid red;
    color: black;
    font-size: 1.5rem;
    justify-content: space-between;
}

#login {
    display: flex;
    justify-self: end;
    
}

#main-page {
    padding-top: 3rem;
    padding-bottom: 40rem;
    background-image: linear-gradient(to bottom, blue ,white);
}

#product{
    display: block;
    padding-left: calc(10% + 10px);
}

#discover-btn{
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    margin: 0 0% 0% 10%;
}

#compare-page{
    border: 1px red solid;
    padding: 300px;
    background-color: white;
}

#footer {
    padding: 100px;
    background-color: #4d4e56;
    display: grid;
}