body {
    margin: 0px; 
    padding: 0px;
}

*{
    font-family: 
        'Franklin Gothic Medium', 
        'Arial Narrow', Arial, 
        sans-serif;
}

table, tr, td, th{
    color: rgb(18, 17, 29);
}

th{
    border-bottom: 1px solid lightgrey;
    padding: 10px 0px 5px 0px;

}

table {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}


tr {
    row-gap: 100px;
}

td {
    width: 10%;
}

h1 {
    color: white;
}

p {
    color: white;
}

a{

    text-decoration: none;
}

input {
    margin: 20px 10px 20px 10px;
    padding-right: 100px;
    border: none;
    border-radius: 2px;
    
}

#header {

    background-color: white;
    position: sticky;
    display: flex;
    top: 0px;
    padding:  5px 0px 5px 20px;
    box-shadow: 0px 0px 10px 0px darkblue;
    justify-content: space-between;
}

.header-link {

    color: black;
    font-size: 1.5rem;
    
}

#login-btn {
    
   margin-right: 10px;
}

#login-form{
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(247, 247, 247);
    box-shadow: grey 0px 0px 10px 1px;
    border-radius: 10px;
    margin: auto;
    width:  20rem;
    transform: translateY(50%);
}


#main-page {
    
    padding-top: 3rem;
    padding-bottom: 10rem;
    background-image: linear-gradient(to bottom, blue ,white);
    padding-left: 10%;
}

#product{
    display: block;
}

#product-discription{
    display: flex;
    max-width: 30rem;
}

#discover-btn{
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    display: block;

}

#main-img {
    
    max-block-size: 300px;
    display: block;
    margin: auto;
    padding-left: 50%;
}

#compare-page{

    padding: 10px 0px 50px 0px;
    background-color: white;
    display: flex;
}

#pro{
    color: darkblue;
}

.feature{
    font-size: 1rem;
}

.locked {
    color: grey;
}

.unlocked {
    color: black;
}

#footer {
    padding: 10px;
    background-color: #4d4e56;
    
    
}

#copyright {
    font-size: 0.8rem;
    color: #c9c9c9;
}