
#game-container {
    display: grid;
    grid-template-rows: auto auto;
    
}

#board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 300px;

    
}

#game-control{
    margin: auto;
}

#reset {
    padding: 1rem;
    width: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}


.play-box {
    
    font-size: 6em;
    padding: 1rem;
    line-height: 0rem;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: end;
    
}