* {
  margin: 0;
  padding: 0;
}

#game-box {
  display: block;
  border: 1px solid red;
  height: calc(100vh - 2px);
}

#dino {
  border: 1px solid green;
  background-color: antiquewhite;
  position: absolute;
  transform: translate(100px, 100px);
  padding: 20px;
}

#ground {
  position: absolute;
  border: 1px solid green;
  width: calc(100% - 4px);
  transform: translate(0, 50vh);
  text-overflow: clip;
}
