
* {
    font-family:
        'Franklin Gothic Medium',
        'Arial Narrow', Arial,
        sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table,
tr,
td,
th {
    color: rgb(18, 17, 29);
}

th {
    border-bottom: 1px solid lightgrey;
    padding: 10px 0px 5px 0px;

}

table {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;
}


tr {
    row-gap: 100px;
}

td {
    width: 10%;
}

h1 {
    color: white;
}

p {
    color: white;
}

a {
    text-decoration: none;
}

input {
    margin: 20px 10px 20px 10px;
    padding-right: 100px;
    border: none;
    border-radius: 6px;

}

